/target
/crates/fractal_algebra/target
/crates/tma_engine/target
/crates/factorial_engine/target
/crates/fa_bayes/target
/crates/fa_slow_ai/target
/crates/fa_group_theory/target
/examples/sierpinski/target
/examples/fast_fac/target
